/* 

footer { 
    background-color: pink;
}

//class

.title{
    background-color: aquamarine;
}

.big{
    font-size: xxx-large;
}

.title.big{
    color: royalblue;
} 

//id

#title{
    background-color: pink;
}


*{
    color:darkred
}

//selectors, type

a[href="https://developer.mozilla.org/ja/"]{
    color:orange
}

a[href*="yahoo"]"{
    color: red;
}

a[href^="https://www."]{
    color: red;
}

a[href$="/ja/"}{
    color: red;
}


//selectors pseudo elements


article p:first-child {
    color:red;
}

article p:first-of-type{
    color:red;
}

article p:nth-of-type(2){
    color:red;
}

article p:not(:first-of-type){
    color:red;
}

*/

a:hover{
    background-color: pink;
}

*all{
    background-color: lightgray;
}
