*{
    background-color: rgb(233, 233, 233);
}

.inner{
    text-align: center;
  }

ul.boxes {
    display:-webkit-flex;
    display:flex;
    width:100%;
    list-style-type:none;
    margin:0; padding:0;
    }
    ul.boxes li {
    width:25%;
    }
    ul.boxes a {
    display:block;
    margin:5px; padding:5px; font-size:25px;
    background-color:#91c07c; color:#ffffff;
    text-align:center;
    text-decoration:none;
    }
    ul.boxes a:hover{
        background-color: #769966;
    }